<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test Email</title>
</head>
<body>
    <h1>Hello <%= name %>!</h1>
    <p><%= message %></p>
    <p>Sent at: <%= timestamp %></p>
    <p>This email was sent from contact@daadis.in</p>
</body>
</html>